#clients {
    position: relative;
    background: #f1e9e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    P {
      color: $primary-color;
      @include bold;
    }
    i {
      color: $primary-color;
    }
  }
  
  //for mobile phones
  @media (max-width: 560px) {
    #clients {
      height: 25vh;
      h1 {
        font-size: 1.8rem;
        margin-top: 1rem;
      }
      i {
        font-size: 1.5rem;
        position: absolute;
        top: 7.5rem;
      }
      .fa-arrow-left {
        left: 5%;
      }
      .fa-arrow-right {
        right: 5%;
      }
      .image_container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding: 1rem;
        width: 100%;
        img {
          height: 60%;
        }
      }
    }
  }
  
  //for ipads and tablets
  @media (min-width: 561px) {
    #clients {
      height: 20vh;
      h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
      }
      i {
        font-size: 1.5rem;
        position: absolute;
        top: 7.5rem;
      }
      .fa-arrow-left {
        left: 5%;
      }
      .fa-arrow-right {
        right: 5%;
      }
      .image_container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding: 1rem;
        width: 100%;
        img {
          height: 60%;
        }
      }
    }
  }
  
 //screen sizes above 1024px
 @media(min-width:1025px){
  #clients{
    height: 40vh;
  }
 }