
#home {
  /* hero */
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(24, 32, 32, 0.5), rgba(0, 0, 0, 0.3)),
    url("/dist/img/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* navbar */
  padding: 1rem 1.5rem;
}

//for mobile phones
@media (max-width: 560px) {
  #home {
    /* navbar */
    padding: 0;
    height: 30vh;
    background-position: 50%;
    nav {
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(1rem);
      padding: 1rem 1.5rem;
      .nav-center {
        .nav-header {
          display: flex;
          justify-content: space-between;
          .logo {
            height: 1.2rem;
          }
          /* hamburger toggle button */
          .nav-toggle {
            background: transparent;
            display: block;
            font-size: 1.5rem;
            color: $primary-color;
            border-color: transparent;
            @include transition;
            cursor: pointer;
          }
          .nav-toggle:hover {
            cursor: pointer;
            color: $dark-purple;
          }
        }
        /* links */
        .links-container {
          height: 0;
          overflow: hidden;
          @include transition;
          .links {
            li {
              a {
                color: $primary-color;
                @include transition;
              }
              a:hover {
                color: $dark-purple;
              }
            }
          }
        }
      }
    }
    /* fixed nav */
    .fixed-nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(1rem);
      z-index: 1000;
      width: 100%;
    }
    /* banner */
    .banner {
      .container {
        margin-top: 5%;
        margin-left: 1.2rem;
        .hero {
          line-height: 1.5rem;
        }
      }
    }
  }
}

//for tablets and ipads
@media(min-width:561px){
  #home {
    /* navbar */
    padding: 0;
    background-position: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 50vh;
    nav {
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(1rem);
      padding: 1rem 1.5rem;
      .nav-center {
        .nav-header {
          display: flex;
          justify-content: space-between;
          .logo {
            height: 2rem;
          }
          /* hamburger toggle button */
          .nav-toggle {
            background: transparent;
            display: block;
            font-size: 2rem;
            color: $primary-color;
            border-color: transparent;
            @include transition;
            cursor: pointer;
          }
          .nav-toggle:hover {
            cursor: pointer;
            color: $dark-purple;
          }
        }
        /* links */
        .links-container {
          height: 0;
          overflow: hidden;
          @include transition;
          .links {
            li {
              a {
                color: $primary-color;
                @include transition;
              }
              a:hover {
                color: $dark-purple;
              }
            }
          }
        }
      }
    }
    /* fixed nav */
    .fixed-nav {
      position: fixed !important;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(1rem);
      z-index: 1000;
      width: 100%;
    }
    /* banner */
    .banner {
      .container {
        margin-top: 10%;
        margin-left: 1.2rem;
        width: 70%;
        .hero {
          line-height: 3rem;
          @include semiBold;
          font-size: 2rem;
        }
      }
    }
  }
}

//for screen sizes above 1024px
@media(min-width:1024px){
  
}